<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/purchase']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('purchase')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '进货' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'purchase'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/purchase/create-purchase-order']" [routerLinkActive]="['router-link-active']"><span>{{ '进货订单' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/create-purchase-return-order']" [routerLinkActive]="['router-link-active']"><span>{{ '退货订单' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/createorder']" [routerLinkActive]="['router-link-active']"><span>{{ '财务付款' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>


        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/production']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('production')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '生产组装' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'production'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/production/create-production-order']" [routerLinkActive]="['router-link-active']"><span>{{ '新建生产订单' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/accounting']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('accounting')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '财务' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'accounting'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/accounting/expenditure']" [routerLinkActive]="['router-link-active']">
                            <span>{{ '开支概览' | translate }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/accounting/cost']" [routerLinkActive]="['router-link-active']">
                            <span>{{ '成本概览' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item"  [routerLinkActive]="['router-link-active']" (click)="addExpandClass('setting')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '设置' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'setting'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/setting/user-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '用户管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/product-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '商品管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/product-category-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '商品分类管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/warehouse-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '仓库管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/division-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '部门管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/company-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '公司管理' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>


    </ul>
</nav>
