<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/purchase']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('purchase')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '进货' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'purchase'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/purchase/place-purchase-order']" [routerLinkActive]="['router-link-active']"><span>{{ '进货订单' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/createorder']" [routerLinkActive]="['router-link-active']"><span>{{ '退货订单' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/createorder']" [routerLinkActive]="['router-link-active']"><span>{{ '财务付款' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/sale']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('sale')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Sale' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'sale'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/sale/place-orders']" [routerLinkActive]="['router-link-active']"><span>{{ 'Place Orders' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Update Order' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Payment' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Return' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/accounting']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('accounting')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '财务' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'accounting'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/accounting/expenditure']" [routerLinkActive]="['router-link-active']">
                            <span>{{ '支出概览' | translate }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/accounting/expenditure/create-expenditure']" [routerLinkActive]="['router-link-active']">
                            <span>{{ '新建支持' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item"  [routerLinkActive]="['router-link-active']" (click)="addExpandClass('setting')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '设置' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'setting'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/setting/user-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '用户管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/product-setting']" [routerLinkActive]="['router-link-active']"><span>{{ '产品管理' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/finance/sendmoney']" [routerLinkActive]="['router-link-active']"><span>{{ '仓库管理' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>


    </ul>
</nav>
