<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/purchase']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('purchase')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ '进货' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'purchase'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/purchase/place-orders']" [routerLinkActive]="['router-link-active']"><span>{{ '进货' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/createorder']" [routerLinkActive]="['router-link-active']"><span>{{ '财务付款' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/purchase/createorder']" [routerLinkActive]="['router-link-active']"><span>{{ '退货' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/sale']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('sale')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Sale' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'sale'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/sale/place-orders']" [routerLinkActive]="['router-link-active']"><span>{{ 'Place Orders' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Update Order' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Payment' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/sale/create-order']" [routerLinkActive]="['router-link-active']"><span>{{ 'Return' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/finance']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('finance')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Finance' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'finance'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/finance/receivemoney']" [routerLinkActive]="['router-link-active']"><span>{{ 'Receipt' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/finance/sendmoney']" [routerLinkActive]="['router-link-active']"><span>{{ 'Payment' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/finance/fee']" [routerLinkActive]="['router-link-active']"><span>{{ 'Fee' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'More Theme' | translate }}
        </a>
    </ul>
</nav>
