<div [@routerTransition]>
    <app-page-header [heading]="'新建订单'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-3">
            <div>
                <ng-select [allowClear]="true"
                           [items]="companies"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selectCompany($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="选择供货单位">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <ng-select [allowClear]="true"
                           [items]="users"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selectUser($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="选择经手人">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <ng-select [allowClear]="true"
                           [items]="divisions"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selectDivision($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="选择部门">
                </ng-select>
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
        <div class="col-lg-3">
            <div>
                <ng-select [allowClear]="true"
                           [items]="warehouses"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selectWarehouse($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="选择仓库">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <input [(ngModel)]="order.description" class="form-control" placeholder="摘要">
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <input [(ngModel)]="order.extraInfo" class="form-control" placeholder="附加说明">
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
        <div class="card col-lg-12">
            <div class="card-header">
                <app-product-modal (productAdd)="onProductAdd($event)"></app-product-modal>
            </div>
            <table class="card-block table table-hover">
                <thead>
                <tr>
                    <th>行号</th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>商品分类</th>
                    <th>条码</th>
                    <th>规格</th>
                    <th>型号</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>备注</th>
                    <th>仓库货位</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let orderProduct of (order.orderProducts | paginate: pageConfig); let i = index;">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ orderProduct.product.sku }}</td>
                    <td> {{ orderProduct.product.name }}</td>
                    <td> {{ orderProduct.product.category.name }}</td>
                    <td> {{ orderProduct.product.barcode }}</td>
                    <td> {{ orderProduct.product.spec }}</td>
                    <td> {{ orderProduct.product.model }}</td>
                    <td><inline-editor type="text" [(ngModel)]="orderProduct.quantity" (onSave)="saveEditable($event)" name="name" size="8"></inline-editor></td>
                    <td><inline-editor type="text" [(ngModel)]="orderProduct.unitPrice" (onSave)="saveEditable($event)" name="name" size="8"></inline-editor></td>
                    <td> {{ orderProduct.amount }}</td>
                    <td><inline-editor type="textarea" [(ngModel)]="orderProduct.note" empty="编辑" (onSave)="saveEditable($event)" name="name" size="8"></inline-editor></td>
                    <td> {{ orderProduct.stockQuantity }}</td>
                    <td><i (click)="removeOrderProduct(orderProduct.uuid)" class="fa fa-times"></i></td>

                </tr>
                </tbody>
            </table>
            <app-xpagination [pageConfig]="pageConfig" [maxSize]="10"></app-xpagination>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
        <button [disabled]="isValidOrder()" class="btn btn-primary" (click)="saveOrder()">保存订单</button>
    </div>

    <div class="row">
        <div style="height: 400px;"></div>
    </div>

</div>
