<div [@routerTransition]>
    <app-page-header [heading]="'Place-orders'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-3">
            <div>
                <h4>选择供货单位</h4>
                <ng-select [allowClear]="true"
                           [items]="companies"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h4>选择经手人</h4>
                <ng-select [allowClear]="true"
                           [items]="users"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h4>选择部门</h4>
                <ng-select [allowClear]="true"
                           [items]="divisions"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="">
                </ng-select>
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
        <div class="col-lg-3">
            <div>
                <h4>选择仓库</h4>
                <ng-select [allowClear]="true"
                           [items]="warehouses"
                           [disabled]="disabled"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h4>摘要</h4>
                <input class="form-control" placeholder="">
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h4>附加说明</h4>
                <input class="form-control" placeholder="">
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
        <div class="card col-lg-12">
            <div class="card-header">
                <button (click)="open(content)" class="btn btn-primary">添加产品</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">选择产品</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table class="card-block table table-hover">
                        <thead>
                        <tr>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>规格</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let product of products" (click)="addProductItem(product.id)">
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.name }}</td>
                            <td> {{ product.spec }}</td>
                            <td> {{ product.price }}</td>
                        </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
            <table class="card-block table table-hover">
                <thead>
                <tr>
                    <th>行号</th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>条码</th>
                    <th>规格</th>
                    <th>型号</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th>仓库货位</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let product of orderProducts | paginate: pageConfig">
                    <th scope="row">{{ product.row }}</th>
                    <td>{{ product.name }}</td>
                    <td> {{ product.spec }}</td>
                    <td> {{ product.price }}</td>
                </tr>
                </tbody>
            </table>
            <app-xpagination [pageConfig]="pageConfig" [maxSize]="10"></app-xpagination>
        </div>
    </div>

    <div class="row">
        <div style="height: 400px;"></div>
    </div>

</div>
